[submodule "external/gekkio-kicad-libs"]
	path = external/gekkio-kicad-libs
	url = https://github.com/Gekkio/gekkio-kicad-libs.git
[submodule "external/kicad-library"]
	path = external/kicad-library
	url = https://github.com/KiCad/kicad-library.git
[submodule "GB-BRK-M/external/kicad-symbols"]
	path = GB-BRK-M/external/kicad-symbols
	url = https://github.com/KiCad/kicad-symbols.git
[submodule "GB-BRK-M/external/kicad-footprints"]
	path = GB-BRK-M/external/kicad-footprints
	url = https://github.com/KiCad/kicad-footprints.git
[submodule "GB-BRK-M/external/gekkio-kicad-libs"]
	path = GB-BRK-M/external/gekkio-kicad-libs
	url = https://github.com/Gekkio/gekkio-kicad-libs.git
